{% extends 'admin/base.html.twig' %}

{% block title %}Ajout d'image
{% endblock %}
{% block h1 %}Ajout d'image
{% endblock %}

{% block content %}
	<div class="col-6 mx-auto bg text-white successsend d-none">
		<p>Chantier enregistré</p>
	</div>
	{{ form_start(form, {'attr': {'class': 'col-12 col-lg-6 mx-auto ajaxaddconsctruction w100'}})}}
	<div class="form-row">
		<div class="form-group col-12 col-lg-9">
			<input class="form-control col-12 w100 mr-sm-2 mt-lg-4 searchbar" name="phonenumber" type="text" placeholder="Recherche par téléphone">
		</div>
		<div class="form-group d-flex justify-content-end col-12 col-lg-3 d-flex justify-content-end">
			<a href="#" id="search" class="btn mt-lg-4 col-6 bg264d7efoot text-white my-lg-2 my-sm-0 ml-3 col-lg-5">Valider</a>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-12 col-lg-6">
			{{ form_widget(form.customer.lastname, {'attr': {'class': 'form-control shadow-none','placeholder': 'Nom'}})}}
		</div>
		<div class="form-group col-12 col-lg-6">
			{{ form_widget(form.customer.phonenumber, {'attr': {'class': 'form-control shadow-none','placeholder': 'Téléphone'}})}}
		</div>
	</div>
	<div class="form-group">
		{{ form_widget(form.customer.addresOne, {'attr': {'class': 'form-control shadow-none','placeholder': 'Adresse'}})}}
	</div>
	<div class="form-row">
		<div class="form-group col-lg-4">
			{{ form_widget(form.customer.zipcode, {'attr': {'class': 'form-control shadow-none','placeholder': 'Code postal'}})}}
		</div>
		<div class="form-group col-lg-8">
			{{ form_widget(form.customer.city, {'attr': {'class': 'form-control shadow-none','placeholder': 'Ville'}})}}
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-12 col-lg-12">
			{{ form_widget(form.name, {'attr': {'class': 'form-control shadow-none', 'placeholder': 'Nom du chantier'}})}}
		</div>
		<div class="form-group col-12">
			{{ form_widget(form.description, {'attr': {'class': 'form-control shadow-none resize', 'placeholder':'Description'}})}}
		</div>
	</div>
	<div class="form-group col-12 col-lg-6">
		{% for message in app.flashes('alerte') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{{ form_widget(form.images, {'attr': {'class': 'form-control-file shadow-none'}})}}
	</div>
	<div class="mx-auto d-flex justify-content-center">
		<button type="submit" id="addconstruction" class="btn bg264d7efoot text-white mb-3 shadow-none">Enregistrer</button>
	</div>
</div>
{{ form_end(form) }}{% endblock %}
