{% extends 'public/base.html.twig' %}

{% block title %}Devis
{% endblock %}

{% block content %}
	<div class="col-6 col-lg-2 mx-auto text-center mt-3 mb-3">
		<h1 class="color264d7e titlesizemobile ">Devis</h1>
	</div>
	<div class="col-12 col-lg-6 mx-auto">
		{{ form_start(formQr, {'attr': {'class':'ajaxsenddevis'}})}}
		<fieldset class="border p-2 mb-2">
			<legend class="titlesizemobile color264d7e">Vos coordonnées</legend>
			<div class="form-group">
				{% for genre in formQr.client.genre %}
					{{ form_row(genre, {'attr': {'class':'d-inline-flex flex-column-reverse'}}) }}
				{% endfor %}
			</div>
			<div class="form-row">
				<div class="form-group col-6 col-lg-6">
					{{ form_widget(formQr.client.lastname, {'attr': {'class': 'form-control shadow-none','placeholder': 'Nom'}})}}
				</div>
				<div class="form-group col-6 col-lg-6">
					{{ form_widget(formQr.client.firstname, {'attr': {'class': 'form-control shadow-none','placeholder': 'Prénom'}})}}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-6 col-lg-6">
					{{ form_widget(formQr.client.email, {'attr': {'class': 'form-control shadow-none','placeholder': 'Email'}})}}
				</div>
				<div class="form-group col-6 col-lg-6">
					{{ form_widget(formQr.client.phonenumber, {'attr': {'class': 'form-control shadow-none','placeholder': 'Téléphone'}})}}
				</div>
			</div>
		</fieldset>
		<fieldset class="border p-2 mb-2">
			<legend class="titlesizemobile color264d7e">Adresse du chantier</legend>
			<div class="form-group">
				{{ form_widget(formQr.client.addresOne, {'attr': {'class': 'form-control shadow-none','placeholder': 'Adresse'}})}}
			</div>
			<div class="form-row">
				<div class="form-group col-lg-2">
					{{ form_widget(formQr.client.zipcode, {'attr': {'class': 'form-control shadow-none','placeholder': 'Code postal'}})}}
				</div>
				<div class="form-group col-lg-10">
					{{ form_widget(formQr.client.city, {'attr': {'class': 'form-control shadow-none','placeholder': 'Ville'}})}}
				</div>
			</div>
		</fieldset>
		<fieldset class="border p-2 mb-2">
			<legend class="titlesizemobile color264d7e">Type de batiment</legend>
			<div class="form-check form-check-inline">
				{% for typeBat in formQr.typeBat %}
					{{ form_row(typeBat, {'attr': {'class':'coucou'}}) }}
				{% endfor %}
			</div>
		</fieldset>
		<fieldset class="border p-2 mb-2">
			<legend class="titlesizemobile color264d7e">Information du chantier</legend>
			<div class="d-flex">
				<div class="form-check form-check-inline">
					{# {% for categories in formQr.category %} #}
						{{ form_row(formQr.category, {'attr': {'class':'col-12 d-flex coucou categories rb'}}) }}
					{# {% endfor %} #}
				</div>
				<div class="form-row div-none ml-2">
					<div class="">
						{{ form_widget(formQr.service, {'attr': {'class':'col-12 service'}}) }}
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset class="border p-2 mb-4">
			<legend class="titlesizemobile color264d7e">Photo concernant votre demande</legend>
			<div class="form-row mt-2">
				{{ form_widget(formQr.images, {'attr': {'class': 'form-control-file shadow-none'}})}}
			</div>
		</fieldset>
		<div class="form-group">
			<p class="textdark">
				Veuillez nous donner quelques détails concernant votre maison par exemple le nombre d'étage, quelle partie à entretenir, création ou remplacement de vos fenêtre de toit, etc.
			</p>
			{{ form_widget(formQr.additionnalInformation, {'attr': {'class': 'form-control resize shadow-none','rows':"5", 'placeholder':"Information complémentaire"}})}}
		</div>
		<div id="display-condition">
			<input type="checkbox" id="condition" name="condition">
			<label for="">J'accepte la conservation de mes données personnelles selon la politique de conservation des données</label>
		</div>
		<div id="form-error">
			
		</div>
		<div class="mx-auto d-flex justify-content-center">
			<button id="senddevis" type="submit" class="btn bg264d7efoot text-white mb-3">Envoyer</button>
		</div>
		{{ form_end(formQr) }}
	</div>
{% endblock %}
